
html {
    height:100%;
}

* {
    font-family: roboto;
}

input {
    font-size: inherit;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}


body {
    margin: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 20px;
    border: 4px solid #f2f2f2;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
}

::selection { 
    background: #3ba55c;
    color:#fff;
}




.upload {
    box-sizing: border-box;
    padding: 3px;
    padding-top: 5px;
    background-color: #2c2c2c;
    width: 33px;
    height: 33px;
    border-radius: 3px;
    margin: 13px;
    color: white;
}

.upload:hover {
    background-color: #4b4b4b;
}

.upload img {
    width: 25px;
}


.center-li {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 40%;
}   


.main-header {
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    padding-top: 0px;
    height: 60px;
    z-index: 3000;
}

.search-bar {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 30fr 66fr 5fr;
    grid-template-rows: 40px;
    height: 45px;
    background-color: #FFFFFF;
    border: 2px solid #333;   
    border-radius: 6px;
    margin: 6.5px;
    z-index: 30;
    flex-shrink: 5;
}

.selection {
    border: 0;
    display: flex;
    background-color: #f3f3f3;
    background-image: none;
    border-right: 1px solid #e4e4e4;
    color: #333;
    padding-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex-shrink: 1;
    width: 100%;
}

.search-text {
    border: 0;  
    background-color: transparent;
    width: 100%;
    outline: none;
    padding-left: 10px;
    height: 42px;
    font-family: roboto;
}

.search-button {
    background-color: #F3F3F3;
    z-index: 10;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 100px;
    width: 100%;
    height: 41px;
    font-weight: bolder;
    outline: none;
    padding: 0px;
    margin-top: 1px;
    position: relative;
    top: -0.6px;
    cursor: pointer;
    border-left: 1px solid #e4e4e4;
}

.search-button img {
    width: 40px;
    padding: 7px;
    padding-top: 9px;
}

.search-button:hover {
    background-color: #e4e4e4;
}


.selection {
    border: 0;
    display: flex;
    background-color: #f3f3f3;
    background-image: none;
    border-right: 1px solid #e4e4e4;
    color: #333;
    padding-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex-shrink: 1;
    width: 100%;
    font-size: 14px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 3000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #2c2c2c; */
    background-color: #2c2c2c;
    display: flex;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
  
li {
    flex-shrink: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 19px 18px;
    text-decoration: none;
    font-family: roboto;
    
}

.inside-a {
    box-sizing: border-box;
    height: 59px;
    border-bottom: 4px transparent;
    padding: 0px;
    margin: 21px 18px;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 21px;
}

.inside-a:hover {
    border-bottom: 4px solid #41b465;
}

.center-li {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 40%;
}   

.center-space {
    width: 80%;
    flex-shrink: 1;
}


.logo {
    width: 45px;
}

.logo-padding {
    padding: 4px;
    padding-top: 6px;
}

/* change the link color to #111 (black) on hover */
.categories:hover {
    background-color: rgb(20, 20, 20);
}


.mercasanvi {
    text-align: left;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 2px;
    font-weight: 500;
    font-size: 25px;
}

.mercasanvi:hover, .logo-padding:hover {
    background-color: #2c2c2c;
}

.categories {
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 3000000;
}

.login, .login2 {
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #3ba55c;
    border-radius: 3px;
    margin: 13px;
    color: white;
}

.upload {
    padding: 3px;
    padding-top: 5px;
    background-color: #2c2c2c;
    width: 33px;
    height: 33px;
    border-radius: 3px;
    margin: 13px;
    color: white;
}

.upload:hover {
    background-color: #4b4b4b;
}

.upload img {
    width: 25px;
}

.login:hover {
    background-color: #328a4e;
}

.login2:hover {
    background-color: #3ba55c;
}

.search-button {
    background-color: #F3F3F3;
    z-index: 10;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 100px;
    width: 100%;
    height: 41px;
    font-weight: bolder;
    outline: none;
    padding: 0px;
    margin-top: 1px;
    position: relative;
    top: -0.6px;
    cursor: pointer;
    border-left: 1px solid #e4e4e4;
}

.search-button img {
    box-sizing: border-box;
    width: 40px;
    padding: 7px;
    padding-top: 9px;
}

.search-button:hover {
    background-color: #e4e4e4;
}







.mySlides {
    display: none;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.carousel-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 8px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 51%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.527);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.657);
}

.carousel-nav-dot {
    position: absolute;
    align-items: center;
    background-color: transparent;
    width: fit-content;
    height: 15px;
    left: 50%; 
    transform: translate(-50%, -50%);
    bottom: 0px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #333;
}

.active {
    background-color: #3ba55c !important;    
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}






input[type='checkbox']:checked {                   
    border: 1px solid white;                  
    box-shadow: rgba(0, 139, 65, 0.3) 0px 0px 0px 3px;                                             
}        

.white-color {
    -webkit-appearance: none;
    background: white;
    border: 1px solid #ddd;
    max-height: 110px;
}

.gray-color{
    -webkit-appearance: none;
    background: gray;
    border: 1px transparent;
    max-height: 110px;
}

.black-color{
    -webkit-appearance: none;
    background: rgb(19, 19, 19);
    border: 1px transparent;
    max-height: 110px;
}

.lime-color{
    -webkit-appearance: none;
    background: #97c00e;
    border: 1px transparent;
    max-height: 110px;
}

.green-color{
    -webkit-appearance: none;
    background: #009136;
    border: 1px transparent;
    max-height: 110px;
}

.turquoise-color{
    -webkit-appearance: none;
    background: #009790;
    border: 1px transparent;
    max-height: 110px;
}

.lightblue-color{
    -webkit-appearance: none;
    background: #009de0;
    border: 1px transparent;
    max-height: 110px;
}

.blue-color{
    -webkit-appearance: none;
    background: #0a4191;
    border: 1px transparent;
    max-height: 110px;
}

.purple-color{
    -webkit-appearance: none;
    background: #810f6e;
    border: 1px transparent;
    max-height: 110px;
}

.pink-color{
    -webkit-appearance: none;
    background: #cc2c84;
    border: 1px transparent;
    max-height: 110px;
}

.red-color{
    -webkit-appearance: none;
    background: #c30017;
    border: 1px transparent;
    max-height: 110px;
}

.orange-color{
    -webkit-appearance: none;
    background: #f29400;
    border: 1px transparent;
    max-height: 110px;
}

.yellow-color{
    -webkit-appearance: none;
    background: #feed01;
    border: 1px transparent;
    max-height: 110px;
}

.brown-color {
    -webkit-appearance: none;
    background: #7b4f2c;
    border: 1px transparent;
    max-height: 110px;
}

.golden-color {
    -webkit-appearance: none;
    background: #b3953c;
    border: 1px transparent;
    max-height: 110px;
}



.colors-palette {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    width: 95%;
    height: 380px;
    margin-right: 20px;
}

.sizes-box {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.0001fr 100fr;
    column-gap: 20px;
    width: 95%;
    height: 110px;
}



.variety {
    background-color: white;
    padding-left: 30px;
    width: 100%;
}

.select-size  input{
    display: none;
}
  
.size-label  {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 50px;
    cursor: pointer;
    padding-top: 27px;
    font-size: 50px;
}
  
#small:checked ~ label[for="small"],
#medium:checked ~ label[for="medium"],
#large:checked ~ label[for="large"],
#x-large:checked ~ label[for="x-large"],
#xx-large:checked ~ label[for="xx-large"] {
    background: rgb(104, 104, 104);
    color: #ffffff;
}

.size-box {
    -webkit-appearance: none;
    background: #f4f4f4;
    height: 1px;
    width: 1px;
}

.size-box:checked {
    -webkit-appearance: none;
    background: #f4f4f4;
    box-shadow: none !important;
    border: 0px !important;
}

.block1 {
    width: 1424px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.raw2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    width: 100%;
}

.raw3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.raw3 div, .raw3 h4{
    margin: auto;
    margin-top: 10px;
}

.raw3 div {
    margin-left: 5px;
}

.raw3 h4 {
    margin-right: 5px;
}

.raw1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}



@media screen and (min-width: 0px) and (max-width: 1480px) {
    .block1 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}


h4 {
    margin-bottom: 3px;
}

.keywords {
    background-color: transparent;
    display:block;
    box-shadow: none;
}